button{
    background-color: var(--primary);
    border: 0;
    color: var(--gray);
    cursor: pointer;
    margin-top: 20px;
    font-size: 16px;
    border-radius: 100%;
    display: block;
    width: 75px;
    height: 70px;
    transition: .7s;

    
    &:hover{
        transition: .7s;
        background-color: var(--secondary);
    }
}