button{
    display: block;
    background-color: var(--secondary);
    border: 0;
    color: var(--gray);
    cursor: pointer;
    border-radius: 5px;
    transition: .7s;
    padding: 5px 10px;
    margin: 10px 0px 10px 0px;
    width: max-content;
    height: min-content;

    &:hover{
        transition: .7s;
        background-color: var(--primary);
    }

    &:focus{
        transition: .7s;
        background-color: var(--primary);
        outline: none;
    }

    &:active{
        transition: .7s;
        background-color: var(--primary);
    }
}

.keyboard-button{
    margin-right: 10px;
    display: inline-block;
    background-color: var(--secondary);
    border: 0;
    color: var(--gray);
    cursor: pointer;
    border-radius: 100%;
    display: inline-block;
    transition: .7s;
    text-align: center;

    &:hover{
        transition: .7s;
        background-color: var(--secondary);
    }
}

.keyboard-button:disabled{
    transition: .3s;
    background-color: var(--blackAlt);
}