button{
    background-color: var(--primary);
    border: 0;
    color: var(--gray);
    cursor: pointer;
    margin-bottom: 10px;
    margin-top: 5px;
    font-size: 16px;
    border-radius: 10px;
    display: block;
    width: 100%;
    
    &:hover{
        transition: .5s;
        background-color: var(--secondary);
    }
}