.confetti-container {
    position: relative;
    top: -10px;
}

.confetti {
    position: absolute;
    width: 10px;
    height: 20px;
    opacity: 0.2;
    animation: fall linear infinite;
    bottom: 100%;
}

@keyframes fall {
    0% {
        transform: translateY(0) translateX(0) rotate(var(--rotate));
    }
    100% {
        transform: translateY(100vh) translateX(var(--x-move)) rotate(calc(var(--rotate) + 360deg));
    }
}
