/* app: contains view container */
.container{
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    justify-content: center;
}

/* app: contains stage container */
.view-container{
    max-width: 860px;
    flex-grow: 1;
    padding: 10px;
}

/* stages: contains all stage views*/
.stage-container{
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    gap: 0 10px;
}

/* splash: contains splash title */
.title-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 25px;
}

.full-width-container{
    width: 100%;
    margin-bottom: 25px;
}

.half-width-container{
    min-width: 45%;
}

/* contains notifications */
.notification-bar{
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: var(--black);
    color: var(--white);
    font-size: x-small;
}

/* Contains heading footer for stages */
.chat{
    position: fixed;
    bottom: 1px;
    background-color: var(--primary);
    border: 1px solid var(--primary);
    height: 40px;
    right: 10px;
    transition: .5s;
    padding: 10px 0px 0px 10px;
    border-radius: 5px;
    width: 80px;

    &:hover{
        padding: 10px 10px 0px 10px;
        transition: .5s;
        height: 300px;
        z-index: 100;
        background-color: var(--black);
        width: 300px;
    }
}

.chat-window{
    display: block;
    height: 200px !important;
    padding: 5px;
    font-size: small;
    overflow-y: scroll;
}

/* AwaitingPlayers */
.critics-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
}

.search-results{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.movie-card{
    width: 150px;
    cursor: pointer;
    border: 1px solid var(--black);

    &:hover{
        border: 1px solid var(--secondary);
    }
}

.cast-vote-{
    display: flex;
    flex-flow: column wrap;
}

.public-game{
    width: 100%;
    padding: 0 5px 0px 5px;
    border: 1px solid var(--primary);
    margin-bottom: 5px;
    cursor: pointer;
    border-radius: 5px;
    background-color: var(--secondary);
    color: var(--gray);
    font-size: small;

    &:hover{
        transition: .5s;
        border: 1px solid var(--primary);
        background-color: var(--primary);
    }
}

.public-game-container{
    display: flex;
    flex-direction: column;
}