/* contains view container */
.container{
    display: flex;
    flex-flow: column;
    margin: 0;
    padding: 10px;
    width: 100%;
    max-width: 296px;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
   
}

/* contains all view containers */
.stage-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* contains all content within a stage */
.view-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* contains grouped content */
.action-container{
    width: 100%;
    margin: 20px 0px 20px 0px;
    padding: 0;
}

/* display buttons side by side in grid */
.button-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin: 16px 0px 16px 0px;
    align-items: center;
}

.form-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin: 16px 0px 16px 0px;
    align-items: center;
    input{
        margin: 0;
    }
    button{
        margin: 0;
    }
}

.details-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 100px;
}

.round-over-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

.alt-block{
    background-color: var(--alt-black);
    padding: 10px;
    border-radius: 5px;
    h3{
        margin-top: 0;
    }
    margin-bottom: 20px;
}

/* public game div */
.public-game{
    width: parent;
    border: 1px solid var(--secondary);
    background-color: var(--secondary);
    cursor: pointer;
    border-radius: 5px;
    color: var(--gray);
    margin-bottom: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px 10px;
    padding: 5px 10px;

    p{
        margin: 0;
        padding: 0;
    }

    &:hover{
        transition: .5s;
        border: 1px solid var(--primary);
        background-color: var(--primary);
    }
}


.inner-navigation{
    margin-top: 50px;
}

.content-container{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    justify-items: start; 
    align-items: start;

    h3{
        margin: 0;
        padding: 0;
    }
}

/* contains notifications */
.notification-bar{
    position: fixed;
    bottom: 0;
    left:0;
    width: 100%;
    background-color: var(--alt-black);
    color: var(--white);
    height: 25px;
    text-align: center;
    padding-top: 5px;
    p{
        margin: 0;
        padding: 0;
    }
}

.time-container{
    position: fixed;
    right: 5px;
    top: 0px;
    background-color: var(--black);
    font-size: small;
}

canvas {
    overflow-y: hidden;
    overflow-x: hidden;
    width: 100%;
    margin: 0;
  }

/* Contains heading footer for stages */
.chat{
    position: fixed;
    bottom: 30px;
    right: 25px;
    background-color: var(--secondary);
    border: 1px solid var(--black);
    border-bottom: 0;
    transition: .5s;
    border-radius: 5px 5px 0px 0px;
    text-align: center;
    padding: 5px 10px;
    p{ 
        cursor: pointer; 
        color: var(--gray);
        margin: 0;
        padding: 0;
    }
    &:hover{
        transition: .7s;
        background-color: var(--primary);
    }
}

.chat.open{
        padding: 10px 10px 10px 10px;
        transition: .5s;
        z-index: 100;
        rotate: 0deg;
        background-color: var(--black);
        width: 93%;
        bottom: 30px;
        background-color: rgba(31, 31, 31);
        height: 500px;
        right: 0;
}

.chat-window{
    display: block;
    height: 215px !important;
    padding: 0px 5px;
    font-size: small;
    overflow-y: scroll;
    text-align: left;
    background-color:  rgba(31, 31, 31);
}

/* AwaitingPlayers */
.critics-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
}

.flex-container{
    display: flex;
    flex-direction: column;
    .quote-box{
        align-self: center;
    }
}

.search-results{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px 10px;
    width: 100%;
}

.movie-card{
    width: 140px;
    cursor: pointer;
    border: 1px solid var(--black);
    transition: .5s;
    background-color: var(--secondary);

    p{
        padding: 5px;
    }

    &:hover{
        transition: .5s;
        background-color: var(--primary);
    }

    &:focus{
        transition: .5s;
        background-color: var(--primary);
    }

    &:active{
        transition: .5s;
        background-color: var(--primary);
    }
}

.cast-vote-{
    display: flex;
    flex-flow: column wrap;
}

.block{
    width: 100%;
    display: block;
}

.hangman{
    position: fixed;
    bottom: 30px;
    left: 25px;
    border: 1px solid var(--black);
    background-color: var(--secondary);
    border-bottom: 0;
    border-radius: 5px 5px 0px 0px;
    text-align: center;
    padding: 5px 10px;
    border-radius: 5px 5px 0px 0px;
    text-align: center;

    p{ 
        cursor: pointer; 
        color: var(--gray);
        padding: 0;
        margin: 0;
    }
    &:hover{
        transition: .7s;
        background-color: var(--primary);
    }
}

.hangman.open{
        padding: 10px 10px 10px 10px;
        transition: .5s;
        z-index: 100;
        rotate: 0deg;
        background-color: var(--black);
        width: 93%;
        bottom: 30px;
        background-color: rgba(31, 31, 31);
        height: 500px;
        left: 0;
}