@import url('./palette.css');
@import url('./typography.css');
@import url('./buttons.css');
@import url('./inputs.css');
@import url('./containers.css');
@import url('./scrollbar.css');
@import url('./loading.css');
@import url('./range.css');
@import url('./table.css');
@import url('./confetti.css');

body{
    color: var(--white);
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: var(--black);
}

img{
    width: 100%;
}

hr{
    border-top: 1px solid var(--secondary);
}