input[type='text']{
    background-color: var(--black);
    color: var(--white);
    border: 1px solid var(--primary);
    padding: 5px;
    margin-bottom: 5px;

    &:hover{
        border: 1px solid var(--secondary);
    }

    &:active{
        border: 1px solid var(--secondary);
    }

    &:focus{
        outline: none;
        border: 1px solid var(--secondary);
    }
}