input[type='text']{
    background-color: var(--black);
    color: var(--white);
    border: 1px solid var(--primary);
    padding: 5px;
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 16px;
    display: block;
    border-radius: 10px;
    width: 96%;
    transition: .7s;

    &:hover{
        transition: .7s;
        border: 1px solid var(--secondary);
    }

    &:active{
        transition: .7s;
        border: 1px solid var(--secondary);
    }

    &:focus{
        transition: .7s;
        outline: none;
        border: 1px solid var(--secondary);
    }
}