h1, h2, h3, h4, h5, p, button, input, td {
    font-family: 'Fragment Mono', monospace;
    font-weight: 400;
    font-style: normal;
}

h1, h2, h3, h4, h5, p {
    cursor: default;
    user-select: none;
}

h1{
    margin: 0;
    padding: 0;
}

h3{
    color: var(--gray);
}

h4{
    display: block;
    color: var(--gray);
    margin-bottom: 5px;
    margin-top: 20px;
}

p{
    color: var(--white);
    margin-top: 5px;
    margin-bottom: 5px;
}

.title{
    font-family: 'Monoton', sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    color: var(--secondary);
}

.title-alt{
    font-weight: 400;
    font-style: normal;
    color: var(--gray)
}

.primary{
    color: var(--primary);
}

.secondary{
    color: var(--secondary);
}

.gray{
    color: var(--gray);
}

.white{
    color: var(--white);
}
