h1, h2, h3, h4, h5, p, button, input, td, li, .quote {
    font-family: Verdana, Arial, sans-serif;
}

h1, h2, h3, h4, h5, p {
    cursor: default;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none; 
    user-select: none; 
}

h1, h2, h3, h4{
    color: var(--white);
    font-weight: 500;
}

h1{
    margin: 0;
    padding: 0;
}

h2{
    margin:0;
    padding: 0;
}

.title{
    font-family: 'Monoton', sans-serif;
    color: var(--primary);
    font-weight: 500;
}

p, li, .quote{
    color: var(--gray);
}

ul{
    columns: 2;
    column-gap: 10px;
    list-style-position: inside; 
    margin: 0;
    padding: 0;
}

.quote-box{
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 70%;

    &:before{
        content: '“'; 
        font-size: 100px;
        color: var(--white);
        position: absolute;
        top: 0px;
        left: -50px; 
        font-family: "Times New Roman", Times, serif;
    }

    &:after{
        content: '”'; 
        color: var(--white);
        position: absolute;
        bottom: -15px;
        right: -50px; 
        font-family: "Times New Roman", Times, serif;
        font-size: 100px;
    }
}


.quote{
    display: block;
    text-align: justify;
    font-style: italic;
    color: var(--gray);
}


.label, .inline-label, .form-label{
    font-weight: 500;
    color: var(--white);
}

.form-label{
    margin-bottom: -10px;
    margin-left: 0px;
}

.inline-label{
    display: inline;
}

.text-small{
    color: var(--gray);
    font-size: small;
}

.subtitle{
    margin-top: 0;
}