h1, h2, h3, h4, h5, p, button, input, td {
    font-family: "Fragment Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

.title{
    font-family: "Monoton", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.title-alt{
    font-weight: 400;
    font-style: normal;
}

h1, h3{
    margin: 0;
    padding: 0;
}

p, td{
    margin-bottom: 10px;
    padding: 0;
    font-size: 12px;
}